<h1>Log in</h1>
<%= form_tag(controller: "sessions", :action => 'create', method: "post") do %>
  <p>Name:</br> <%= text_field_tag(:name) %></p>
  <p>Password:</br> <%= password_field_tag :password %></p>
  <%= submit_tag("Log In") %>
<% end %>
