<%= form_tag ({controller: "sessions", action: "create"}) do %>
  <label>Username: <%= text_field(:user, :name) %></label><br /><br />

  <label>Password: <%= text_field(:user, :password) %></label><br /><br />

  <input type=submit value='login' /> or <%= link_to 'create a new account', new_user_path %>
<% end %>
