<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>
<%= form_for :sessions, url: '/sessions/create' do |f| %>
  Username: <%= f.text_field :username %>
  Password: <%= f.password_field :password %>
<%= f.submit "Submit" %>
<% end %>
