<h1>Login:</h1>

<%=form_tag sessions_path do %>
  <%=text_field_tag :'user[name]', nil, :placeholder => "Name"%><br>
  <%=text_field_tag :'user[password]', nil, :placeholder => "Password"%><br>
  <%=submit_tag "Login"%>

<%end%>
