<h1>Welcome, new user.</h1>
<p>Please fill out the following form to sign up:</p>
<%= form_for(@user) do |f| %>
<%= f.text_field :name, :placeholder => "Your name here" %><br><br>
<%= f.text_field :username, :placeholder => "Your username here" %><br><br>
<%= f.text_field :password, :placeholder => "Your password here" %><br><br>
<% end %>
