<h1>You're not logged in!</h1>
<h3>Please Signup below</h3>
<p>
  <%= link_to "Signup", new_user_path %>
</p>

<h3>Login, here if you've been here before</h3>
<p>
  <%= link_to "Login", login_path %>
</p>
