<h1>Welcome to the "Using has_secure_password Lab"!</h1>

<% if !current_user %>
  <%= link_to "Sign Up", signup_path %>
  <%= link_to "Log In", login_path %>
<% end %>

<!-- Maybe add a logout link here. -->