<div>
  <h1>Welcome</h1>
</div>

<div>
  <div style="float:left;">
    <%= button_to 'Signup', new_user_path, method: 'get' %>
  </div>

  <div style="float:left;">
     or
  </div>

   <div style="float:left;">
     <%= button_to 'Login', login_path, method: 'get' %>
   </div>
</div>
